.board{
  display: none;
  bottom: 0; 
  position: fixed; 
  width: 100%;
  height: auto;
  border-style: solid;
  background-color: grey;
  border-color: rgb(51, 51, 51) rgb(51, 51, 51) grey rgb(51, 51, 51);
  border-width: 5px;
  border-radius: 75px 75px 0 0;
  text-align: center;
}

#left {
  float: left;
  position: absolute; 
  height: 100%; 
  width: 25%; 
  padding: 2%;
}

#center{
  float: left;
  width: 50%; 
  margin-left: 25%; 
  padding: auto; 
  pointer-events: none;
}

#right{
  float: left; 
  position: absolute; 
  height: 100%; 
  width: 25%; 
  margin-left: 75%; 
  padding: 2%;
}

#show_button{
  display: block;
  position: fixed;
  margin-left: 25%;
  text-align: center;
  width: 50%;
  bottom: 0;
}
#hide_button{
  margin: 2px;
  opacity: 0.5;
}


.progress {
  width: 100%;
  height: 5%;
  border-radius: 24px;
  background-color: #FFFFFF14;
  overflow: hidden;
  position: relative;
}

.progress span {
  height: 100%;
  width: 50%;
  background-color: #dbab5c;
  position: absolute;
  display: block;
}





/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  margin-left: 25%;
  text-align: center;
  width: 50%;
  
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  height: 75vh;
  z-index: 1;
  overflow: auto;
  padding: 1%;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-content p{
  text-align: justify;
  margin: 2%;
}

 /* Dropdown Button */
 .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #2980B9;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


#image_dropdown{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 2%;
}

#logo_cellsius{
  position: fixed;
  padding: 15px;
  margin-top: 5vh;
  width: 10%;
  background-color: white;
  border-radius: 0 15px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}