.board{
  display: block;
  bottom: 0; 
  position: fixed; 
  width: 100%;
  height: auto;
  border-style: solid;
  background-color: grey;
  border-color: rgb(51, 51, 51) rgb(51, 51, 51) grey rgb(51, 51, 51);
  border-width: 5px;
  border-radius: 75px 75px 0 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#left {
  float: left;
  position: absolute; 
  height: 100%; 
  width: 30%; 
  padding: 2%;

}

#center{
  float: left;
  width: 35%; 
  margin-left: 32.5%; 
  padding: auto; 
  pointer-events: none;
}

#right1{
  float: left; 
  position: absolute; 
  height: 100%; 
  width: 16.25%; 
  margin-left: 67.5%; 
  padding-right: 2%;
}
#right2{
  float: left; 
  position: absolute; 
  height: 100%; 
  width: 16.25%; 
  margin-left: 83.75%; 
  padding-right: 2%;
}







#right1 h3{
  margin: 1px;
}

#right2 h3{
  margin: 1px;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgb(0, 0, 0);

}
.progress {
  width: 100%;
  height: 5%;
  border-radius: 24px;
  background-color: #d6151514;
  overflow: hidden;
  position: relative;
}

.progress span {
  height: 100%;
  width: 50%;
  background-color: green;
  display: block;
  position: absolute;


}
#bat_ref1, #bat_ref2, #voltage_min, #voltage_max, #torque_min, #torque_max, #rpm_min, #rpm_max, #mot_min, #mot_max, #current_min, #current_max{
  background-color: red;
  width: 1%;
  height: 100%;
}

#show_button{
  display: none;
  position: fixed;
  margin-left: 25%;
  text-align: center;
  width: 50%;
  bottom: 0;
}
#hide_button{
  margin: 2px;
  opacity: 0.5;
}









/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  margin-left: 25%;
  text-align: center;
  width: 50%;
  
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  height: 75vh;
  z-index: 1;
  overflow: auto;
  padding: 1%;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-content p{
  text-align: justify;
  margin: 2%;
}

 /* Dropdown Button */
 .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #2980B9;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


#image_dropdown{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 2%;
}

#logo{
  position: fixed;
  margin-top: 5vh;
  width: 10%;
  background-color: white;
  border-radius: 0 15px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



#logo_cellsius{
  padding: 15px;
}
#logo_cellsius:hover{
  background-color: rgb(195, 194, 194);
}

#logo_vectornav{
  margin-top: 1%;
  padding: 15px;
}
#logo_vectornav:hover{
  background-color: rgb(195, 194, 194);
}



#batBody {
  float: left;
  width: 100%;
  height: 5%;
  border: 5px #111 solid;
  border-radius: 8px;
}

.batContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.batEnd {
  float: left;
  width: 1vw;
  height: 3vh;
  background-color: white;
}

.batEnd div {
  width: 100%;
  height: 100%;
  background-color: #111;
  border-radius: 0px 30px 30px 0px;
}

#indicator {
  height: 90%;
  width: 50%;
  margin: 3.3px;
  border-radius: 4px;
  background-color: #4EC259;
  display: flex;
  justify-content: center;
  align-items: center;
}
